@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,600&display=swap');

/**
* Name : TUSKO Home Page
* Author : Tumbas Sembako
* LICENSE : -
**/

/* Hero */
.bg-hero {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

.button-gblue {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.button-gorange {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.button-gpink {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.button-gblue:hover {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);
}

.button-gorange:hover {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #F7CE68 0%, #FBAB7E 100%);
}

.button-gpink:hover {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #DDD6F3 0%, #FAACA8 100%);
}

/**
* Name : TUSKO Sign Up Page
* Author : Tumbas Sembako
* LICENSE : -
**/

.login-box, .signup-box {
    background-image: url(/assets/images/auth-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
}

@media (max-width: 768px) {
    .login-box, .signup-box {
        background-image: none;
    }
}